<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link
    href="https://fonts.googleapis.com/css?family=Megrim|Nunito+Sans:400,900"
    rel="stylesheet"
  />
  <link
    rel="icon"
    href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/240/apple/155/ear-of-maize_1f33d.png"
  />

  <title>{%NAME%} {%IMAGE%}</title>
</head>
<body>
    <div class="container">
  
      <figure class="country">
        <a href="/" class="country__back">
          <span class="emoji-left">⬅️</span>Back
        </a>
        <div class="country__card">
          <img class="country__flag">{%FLAG%}</img>
          <div class="country__name">{%NAME%}</div>
          <div class="country__name-native"></div>
          <div class="country__pop"><span class="emoji-left">🧑‍🤝‍🧑</span> {%POPULATION%}</div>
          <div class="country__region"><span class="emoji-left">🌍</span>{%REGION%}</div>
          <div class="country__sub-region"></div>
          <div class="country__capital"><span class="emoji-left">🏙️</span>{%CAPITAL%}</div>
          <div class="country__top-level"></div>
          <div class="country__languages"></div>
        </div>
        <h2 class="country__name">{%NAME%}</h2>
        <div class="country__details">
          <p><span class="emoji-left">🌍</span> {%REGION%}</p>
          <p><span class="emoji-left">🧑‍🤝‍🧑</span> {%POPULATION%}</p>
          <p><span class="emoji-left">🏴</span>{%FLAG%}</p>
          <p><span class="emoji-left">🏙️</span> {%CAPITAL%}</p>
        </div>

      </figure>
  
    </div>
  </body>
  
  </html>